.footer{
    display: flex;
flex-direction: row;
align-items: flex-start;
padding: 50px 94px;
gap: 44px;



width: 1180px;
height: 238px;

background: linear-gradient(91.74deg, #0B5BA8 30.91%, #299BD8 100.98%);
}


.disc{
display: flexbox;
width: 156.87px;
height: 0px;

}


.logo{
    position: relative;
    height: 32px;
width: 173.69143676757812px;


left: 2%;
right: 0.18%;
top: 93%;
bottom: 1.44%;


}

.paragraph{
    position: relative;
    width: 546px;
height: 81px;
    top: 95%;
    left:2%;
    margin-top: 4%;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    /* or 150% */
    
    
    color: #FFFFFF;


}


.content{
    display: flex;
flex-direction: row;
align-items: flex-start;
padding: 33px 84px;
gap: 44px;
position: absolute;
left: 80%;
top: 94%;


background: linear-gradient(91.74deg, #0B5BA8 30.91%, #299BD8 100.98%);
}

.fb{
    position: relative;
height: 28px;

left: 1px;
top: 95px;

}


.company{
    position: relative;
width: 174.72px;
height: 27px;
left: 70px;
top: -5px;
bottom: 100px;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 27px;

color: #FFFFFF;
}

.insta{
    position: relative;
height: 28px;
width: 28.x;
left: 5px;
top: 95px;
}

.twit{
    position: relative;
height: 28px;
width: 28.x;
left: 10px;
top: 95px;
}

.box{
    position: relative;
    width: 135.67px;
    height: 19px;
    left: 70px;
    top: 5px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    
    
    color: #FFFFFF

}